/*=================================================
    Josue's Portfolio

    Table of contents
    1. Utility classes and setup
    2. Header and navigation bar
    3. Hero section
    4. Projects section
    5. About me section
    6. Contact section
    7. Footer
    8. Media queries
===================================================*/

/* 1. Utility classes and setup */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;

    font-size: 62.5%;

    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Hind', sans-serif;

    --nav-link-font-size: clamp(1rem, 2vw, 1.3rem);
    --hero-title-font-size: clamp(3.2rem, 8vw, 5rem);
    --subsection-font-size: clamp(2rem, 4.5vw, 2.6rem);
    --subtitle-font-size: clamp(2.4rem, 3.5vw, 3.2rem);
    --body-font-size: 1.6rem;
    --body-font-size-small: 1.3rem;
    --body-font-size-large: 1.8rem;
    --bold: 600;

    --nav-link-icon-width: 1.75em;
    --nav-link-icon-height: 1.75em;
    --left-padding-content: min(10%, 5em);

    --hover-color: #1e6091;
    --fallback-color: #00b4d8;
    --primary-color: #1d3557;
    --secondary-color: #ffffff;
    --extra-transparent-black: rgb(0 0 0 / .35);
    --transparent-black: rgb(0 0 0 / .6);
    --light-black: rgb(0 0 0 / .9);
    --gray: rgb(235 235 235);
    --light-gray: rgb(255 255 255 / .2);
    --orange: #f16529;
    --light-blue: #409ad6;
    --yellow: #eff500;
    --pink: #cc6698;
    --aqua: #18bcef;
    --error-color: #f38375;
}

html,
body {
    padding: 0;
    margin: 0;

    font-family: var(--secondary-font);
    text-align: center;

    color: var(--light-black);
    font-size: var(--body-font-size);
}

.wrap {
    width: min(100%, 1500px);
    margin: 0 auto;
    padding: 0 1.25em;
}

.flex-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-icon {
    width: var(--nav-link-icon-width);
    height: var(--nav-link-icon-height);

    fill: var(--secondary-color);
}

.list-reset {
    padding: 0;
    margin: 0;

    list-style: none;
}

/* 2. Header and navigation bar */
header {
    position: fixed;
    inset: auto 0 0 0;
    z-index: 1;
}

.header-wrap {
    background-color: var(--light-black);
}

#header-nav-logo {
    display: none;
}

.header-wrap nav {
    display: flex;
}

.nav-link-wrap {
    /*Creating a separate stacking context to 
    let the nav-link-label to be positioned 
    above this but beneath the header-link*/
    position: relative;
    isolation: isolate;

    width: 20%;
    min-height: 6em;

    font-size: var(--nav-link-font-size);

    color: var(--secondary-color);
}

.nav-link-wrap:hover,
.nav-link-wrap:focus {
    background-color: var(--light-gray);
    cursor: pointer;
}

.header-link {
    /*This link will cover all of its wrapper
    so it'll easier to click on it*/
    position: absolute;
    inset: 0;
}

.nav-link-label {
    position: absolute;
    bottom: .5rem;
    z-index: -1;
}

/* 3. Hero section */
.hero-content-wrap {
    position: relative;
    isolation: isolate;

    height: min(100vh, 1200px);

    background: url("./images/hero-pattern-background-mobile.svg") center/cover fixed var(--fallback-color);
    color: var(--secondary-color);
}

.hero-content-wrap::before {
    content: "";

    position: absolute;
    inset: 0;
    z-index: -1;

    background: linear-gradient(0deg, var(--transparent-black) , transparent);
}

.hero-title {
    margin: 0;

    font-family: var(--primary-font);
    font-size: var(--hero-title-font-size);
    font-weight: var(--bold);
}

.hero-description {
    margin: 0;

    font-size: var(--subsection-font-size);
    letter-spacing: .5ch;
}

.hero-description::before {
    content: "";

    display: block;

    width: 80%;
    margin: .5em auto;
    border-top: 1px solid var(--secondary-color);
}

/* 4. Projects section*/
.subtitle,
.project-name,
.technologies-list-label {
    margin: 0;

    font-family: var(--primary-font);
    text-align: center;
}

.subtitle {
    padding: 1.5em 0 2em;

    font-size: var(--subtitle-font-size);
    text-transform: uppercase;
    letter-spacing: .25ch;
}

.featured-project {
    margin: 0 0 3em;
}

.project-name {
    padding: .75em 0;

    font-size: var(--subsection-font-size);
}

.project-screenshot img {
    width: 100%;
    height: auto;
    margin: .75em 0 1em;

    box-shadow: 0 0 1em var(--extra-transparent-black);
}

.project-desc {
    margin: 0;
}

.technologies-list-label {
    display: block;

    padding: 1.5em 0;

    font-size: var(--subsection-font-size);
    font-weight: var(--bold);
}

.technologies-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tech-icon {
    width: 2em;
}

.html-icon {
    fill: var(--orange);
}

.css-icon {
    fill: var(--light-blue);
}

.js-icon {
    fill: var(--yellow);
}

.js-icon-item {
    position: relative;
}

.js-icon-item::before {
    /* Black background for JS icon letters*/
    content: "";
    position: absolute;
    z-index: -1;
    top: .25em;
    
    width: var(--nav-link-icon-width);
    height: var(--nav-link-icon-height);

    background-color: var(--light-black);
}

.react-icon {
    fill: var(--aqua);
}

.sass-icon {
    fill: var(--pink);
}

.project-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    min-height: 5em;
    margin-top: var(--nav-link-icon-height);
}

.project-link {
    padding: .5em 1.5em;

    font-size: var(--body-font-size-small);
    text-decoration: none;
    font-weight: 600;

    transition: background-color 250ms, color 250ms;

    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: .25em;
}

.project-link:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.project-link:active {
    background-color: var(--primary-color);
}

.project-link-icon {
    margin-right: 1em;
}

/* 5. About me section */
#about-me .wrap {
    background-color: var(--gray)
}

.self-description {
    width: min(100%, 500px);
    margin: 0 auto;
    padding: 0 0 5em;
}

.self-description > a {
    position: relative;

    text-decoration: none;
    font-weight: var(--bold);

    color: var(--primary-color);
}

.self-description > a::after{
    content: "";
    position: absolute;
    inset: auto 0 0 0;

    height: .2em;

    transform-origin: right;
    transform: scaleX(0);
    transition: transform 250ms ease;

    background-color: var(--primary-color);
}

.self-description > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* 6. Contact section */
#contact .wrap {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.underline {
    margin: 0 0 2em;

    font-size: var(--body-font-size-large);
}

#contact form {
    font-size: var(--body-font-size);
    text-align: left;

    width: min(100%, 500px);
    padding: 0 0 2em;
    margin: 0 auto;
}

.form-field {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.25em;
}

.form-field > label {
    font-weight: var(--bold);
}

form input,
form textarea {
    padding: .25em .5em;
    border: none;

    font-size: inherit;
    font-family: inherit;

    color: var(--light-black);
    border-radius: .25em;
}

form textarea {
    resize: none;
}

form input:focus,
form textarea:focus {
    border: none;
    outline: none;
}

.prompt {
    font-weight: var(--bold);

    color: var(--error-color);
}

.hide {
    display: none;
}

form button {
    align-self: flex-start;

    padding: .5em 2.5em .6em;
    border: 2px solid var(--secondary-color);

    font-family: var(--secondary-font);
    font-weight: var(--bold);

    transition: background-color 250ms, color 250ms;

    background-color: inherit;
    color: var(--secondary-color);
    border-radius: .5em;
}

form button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

form button:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* 7. Footer */
footer .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    min-height: 15em;
    padding-bottom: 5em;
    border-top: 1px solid var(--light-gray);

    background-color: var(--primary-color);
}

footer img {
    width: 4.5em;
    height: auto;
}

.social-media-links {
    display: flex;
    justify-content: space-between;

    font-size: var(--body-font-size-small);

    width: min(65%, 500px);
}

/* 8. Media queries */
@media (min-width: 650px) {
    /* Utility classes */
    .wrap {
        padding: 0 2em 0 calc(var(--left-padding-content) + 2em);
    }

    /* Header and navigation bar */
    header {
        inset: 0 auto 0 0;

        width: var(--left-padding-content);
    }

    .header-wrap nav {
        flex-direction: column;

        height: 100vh;
    }

    #header-nav-logo {
        display: block;

        width: 85%;
        height: auto;
        padding: 1em 0 0;
        margin: 0 auto 4em;
    }

    .nav-link-wrap {
        width: 100%;
    }

    .nav-link-label {
        display: none;
    }

    .nav-link-wrap:hover .nav-link-label {
        position: absolute;
        inset: 10% auto auto 90%;

        display: revert;

        padding: .25em 1.25em;

        white-space: nowrap;

        background-color: var(--light-black);
        border-radius: .25em;
    }

    /* Hero section */
    .hero-content-wrap {
        background-image: url("./images/hero-pattern-background-tablet.svg");
    }

    /* Footer */
    footer .wrap {
        min-height: 12em;
        padding-bottom: 0;
    }
}

@media (min-width: 1000px) {
    /* Hero section */
    .hero-content-wrap {
        background-image: url("./images/hero-pattern-background-desktop.svg");
    }

    /* Projects section */
    .project-name {
        padding: 0;
    }

    .featured-project {
        display: grid;
        grid-gap: 3em;
        grid-template-columns: repeat(3, 1fr);

        margin: 0 0 7em;
    }

    .odd-project-item .project-screenshot {
        grid-column: span 2;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
    }

    .even-project-item .project-screenshot{
        grid-column: span 2;
        grid-row: span 2;
        align-self: center;
    }

    /* Footer */
    footer .wrap {
        flex-direction: row;
        justify-content: space-between;

        min-height: auto;
    }
}

@media (min-width: 1500px) {
    /*Repositions header when viewport is wider than 1500px*/
    header {
        inset: 0 auto 0 calc((100vw - 1500px) / 2);
    }
}